/* import font styles here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #7269ef;
  --secondary: #fff;
  --messageBubBg: #f5f7fb;
  --chatBorders: #f0eff5;
  --inputBg: #e6ebf5;
  --sbMenuItems: #878a92;
  --timeStamp: #7a7f9a;
  --msgText: #343a40;
  --notifPinkText: #ef476f;
  --notifBgRed: #ef476f;
  --darkModeBg: #262e35;
  --darkModeBg2: #36404a;
}

body {
  margin: 0;
  font-family: 'Poppins';
  background: var(--secondary);
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* entire chat app div */

.menu-container {
  display: flex;
  background: var(--messageBubBg);
  width: 25%;
  max-width: 100%;
}

/* navbar */

.root-layout {
  display: flex;
  width: 1396px;
  max-width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  flex-direction: column;
}

nav li {
  margin-top: 15px;
  list-style: none;
}

nav a {
  text-decoration: none;
  margin-top: 1rem;
  padding: 6px;
  border-radius: 25%;
  color: var(--sbMenuItems);
}

nav a.active {
  color: var(--primary);
  border-radius: 25%;
}

.nav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10%;
  height: calc(100vh-40px);
  background: #fff;
  flex: 30%;
  position: relative;
}

.nav-top a {
  background: white;
  display: inline-block;
}

.current-user {
  border-radius: 50%;
  width: 75%;
}
/* page component */
.page-components {
  flex: 70%;
  position: relative;
}

/* main chat styles */

.main-chat {
  max-width: 1200px;
  margin: 40px auto;
}

/* menu items */
.page-components {
  background: var(--messageBubBg);
  border-left: 1px solid var(--chatBorders);
  border-right: 1px solid var(--chatBorders);
}

/* faq */

/* careers list */

/* careers details */

/* breadcrumbs */

h1 {
  font-size: 24px;
  line-height: 1.1;
  color: var(--msgText);
}

.error-page {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
