/* import font styles here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}

body {
  margin: 0;
  padding: 20px;
  font-family: 'Poppins';
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* entire chat app div */

.chat-container {
  display: flex;
  gap: 15%;
}

/* navbar */

header nav {
  display: flex;
  flex-direction: column;
}

header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

header nav a.active {
  background: var(--primary);
}

.nav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.current-user {
  border-radius: 50%;
  width: 10%;
}
/* page content */

/* help layout */

/* faq */

/* careers list */

/* careers details */

/* breadcrumbs */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.error-page {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.beer-icon {
  color: blue;
}
