/* import font styles here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #7269ef;
  --secondary: #fff;
  --messageBubBg: #f5f7fb;
  --chatBorders: #f0eff5;
  --inputBg: #e6ebf5;
  --sbMenuItems: #878a92;
  --timeStamp: #7a7f9a;
  --msgText: #343a40;
  --notifPinkText: #ef476f;
  --notifBgRed: #ef476f;
  --darkModeBg: #262e35;
  --darkModeBg2: #36404a;
}

body {
  margin: 0;
  font-family: 'Poppins';
  background: var(--secondary);
}
p {
  margin-top: 10px;
  margin-bottom: 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* entire chat app div */

.container {
  display: flex;
  width: 100%;
}

.menu-container {
  flex: 3;
  display: flex;
  background: var(--messageBubBg);
}

/* Main chat section styles */

.chat {
  height: calc(100% - 160px);
}

.main-chat {
  flex: 10;
  margin: 0 auto;
}

.chat-info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--chatBorders);
}

.chat-icons {
  list-style: none;
  display: flex;
  color: var(--sbMenuItems);
  cursor: pointer;
}

.chat-icons li {
  padding-right: 1.25rem;
}

.messages {
  background: var(--primary);
  padding: 10px;
  height: 100%;
}

.input {
  height: 50px;
  background: var(--secondary);
  border-top: 1px solid var(--chatBorders);
  border-bottom: 1px solid var(--chatBorders);
  padding: 10px;
}

/* navbar */

.root-layout {
  display: flex;
  width: 1396px;
  max-width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  flex-direction: column;
}

.navLink-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

nav li {
  margin-top: 15px;
  list-style: none;
}

nav a {
  text-decoration: none;
  margin-top: 1rem;
  padding: 6px;
  border-radius: 25%;
  color: var(--sbMenuItems);
}

nav a.active {
  color: var(--primary);
  border-radius: 25%;
}

.nav-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: relative;
  height: calc(100vh - 20px);
  border-right: 1px solid var(--chatBorders);
  border-bottom: 1px solid var(--chatBorders);
}

.nav-bottom {
  padding: 0;
}

.current-user img {
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background: var(--primary);
  object-fit: cover;
}

/* Chat List */

.search-form {
  padding: 10px;
}

.search-form input {
  border: none;
  background: var(--inputBg);
  border-radius: 2px;
  outline: none;
  padding: 10px;
}

.chats {
  display: flex;
  flex-direction: column;
}

.user-chat {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
}

.user-chat:hover {
  background: var(--inputBg);
  border-radius: 2%;
}

.user-chat img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.user-chat-info span {
  font-size: 12px;
  font-weight: 500;
}

.user-chat-info p {
  font-size: 11px;
  color: var(--sbMenuItems);
  margin-top: 0;
}

/* Settings */

.settings-layout {
  height: 100vh;
}

/* page component */
.page-components {
  flex: 6;
  position: relative;
}

/* menu items */
.page-components {
  flex: 5;
  background: var(--messageBubBg);
  border-right: 1px solid var(--chatBorders);
  display: flex;
  padding: 10px;
}

/* User available component */

.user-available {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-available img {
  border-radius: 50%;
  width: calc(100% / 3);
}

/* faq */

/* careers list */

/* careers details */

/* breadcrumbs */

h1 {
  font-size: 24px;
  line-height: 1.1;
  color: var(--msgText);
}

.error-page {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
