/* import font styles here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #7269ef;
  --secondary: #fff;
  --messageBubBg: #f5f7fb;
  --messageOwnerBg: #0084ff;
  --chatBorders: #f0eff5;
  --inputBg: #e6ebf5;
  --sbMenuItems: #878a92;
  --timeStamp: #7a7f9a;
  --msgText: #343a40;
  --notifPinkText: #ef476f;
  --notifBgRed: #ef476f;
  --darkModeBg: #262e35;
  --darkModeBg2: #36404a;
}

body {
  margin: 0;
  font-family: 'Poppins';
  background: var(--secondary);
}

p {
  margin: 0;
}

.test-chat-layout {
  display: flex;
}

/* REGISTRATION PAGE */

.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--messageBubBg);
  height: 100vh;
}

.registration-container form {
  background: var(--secondary);
  padding: 3em;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  background: black;
  width: 25%;
}

.register-header h1 {
  text-align: center;
}
.form-group {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

.error {
  text-align: center;
  color: var(--notifBgRed);
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out all;
  background: var(--primary);
  color: var(--secondary);
  margin-top: 1.5em;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(1.05);
}

/* ENTIRE CHAT APP DIV */

.container {
  display: flex;
  width: 100%;
}

.menu-container {
  flex: 3;
  display: flex;
  background: var(--messageBubBg);
}

/* MAIN CHAT SECTION STYLE */

.main-chat {
  flex: 10;
  margin: 0 auto;
}

.chat {
  height: calc(100vh - 20px);
}

.messages {
  border-top: 1px solid var(--chatBorders);
  border-bottom: 1px solid var(--chatBorders);
  height: calc(100% - 120px);
  overflow: auto;
}

.message-wrapper {
  position: relative;
  max-width: 100%;
  overflow: auto;
  margin-top: 5px;
  padding: 0 25px;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.message-wrapper p {
  padding: 10px;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  word-wrap: break-word;
}

.message-wrapper img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  align-items: center;
  padding: 10px;
}

.message-wrapper span {
  display: inline-block;
  margin-top: 5px;
  font-size: 0.85em;
  opacity: 0.5;
  /* color: var(--timeStamp); */
}

.own {
  display: flex;
  flex-direction: row;
}

.own p {
  text-align: right;
}

.convo {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.convo .convo-name {
  padding: 0;
  padding-bottom: 10px;
}

.me {
  background: var(--messageOwnerBg);
  color: var(--secondary);
  justify-content: flex-end;
}

.friend {
  background: var(--messageBubBg);
}

.chat-info {
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-content img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.contact-content h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.contact-content span {
  font-size: 12px;
  color: var(--sbMenuItems);
}

.chat-icons {
  list-style: none;
  display: flex;
  color: var(--sbMenuItems);
  cursor: pointer;
  gap: 20px;
}

.owner {
  flex-direction: row-reverse;
}

.owner .messageInfo {
  background: var(--messageBubBg);
  border-radius: 10px 10px 0px 10px;
}

.owner .messageInfo p {
  color: var(--msgText);
}

.messagePic {
  display: flex;
  align-items: end;
}

.messagePic img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.messageContent {
  max-width: 40%;
}

.messageInfo {
  background: var(--primary);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 0px;
  max-width: max-content;
}

.messageInfo p {
  color: var(--secondary);
}

.messageInfo img {
  width: 100%;
}

.messageInfo span {
  color: var(--sbMenuItems);
  text-align: right;
}

.owner .messageSender p {
  text-align: right;
}

/* Input ClassName */

.userInput {
  height: 60px;
  background: var(--secondary);
  border-bottom: 1px solid var(--chatBorders);
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* Input HTML element */

input {
  width: 100%;
  border: none;
  outline: none;
  background: var(--inputBg);
  color: var(--primary);
  padding: 10px;
  border-radius: 5px;
}

input::placeholder {
  color: var(--darkModeBg);
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  width: 100%;
}

.send-btn {
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
  margin-top: 0;
}

.input-buttons {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.fa-paperclip,
.fa-face-smile {
  color: var(--primary);
  cursor: pointer;
}

/* NAVBAR/ROOT LAYOUT STYLING */

.root-layout {
  display: flex;
  width: 1396px;
  max-width: 100%;
  height: 100vh;
}
nav {
  display: flex;
  flex-direction: column;
}

.navLink-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

nav li {
  margin-top: 15px;
  list-style: none;
}

nav a {
  text-decoration: none;
  margin-top: 1rem;
  padding: 6px;
  border-radius: 25%;
  color: var(--sbMenuItems);
}

nav a.active {
  color: var(--primary);
  border-radius: 25%;
}

.nav-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: relative;
  height: calc(100vh - 20px);
  border-right: 1px solid var(--chatBorders);
  border-bottom: 1px solid var(--chatBorders);
}

.nav-container h2 a {
  padding: 0;
}

.nav-bottom {
  padding: 0;
}

.current-user img {
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background: var(--primary);
  object-fit: cover;
}

/* SEARCH */

/* .search h2 {
  height: 50px;
  margin: 0;
} */

.search-form {
  height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
}

.search-form input {
  width: 100%;
  height: 25px;
  padding: 5px;
  border: none;
  outline: none;
  background: var(--inputBg);
  border-radius: 5px;
  padding-left: 40px;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 8px;
  font-size: 13px;
}

/* CHATLIST  */

.page-components {
  height: calc(100vh - 20px);
  flex: 5;
  background: var(--messageBubBg);
  border-right: 1px solid var(--chatBorders);
  padding: 10px;
  position: relative;
  overflow: auto;
  max-width: 375px;
  width: 250px;
  /* width: 100%; */
}

.chats-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  width: 100%;
}

.selected-user {
  background: var(--primary);
  color: var(--secondary);
}

.user-chat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.chats-container:hover {
  background: var(--primary);
  color: var(--secondary);
  border-radius: 2%;
}

.user-chat img {
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  padding: 10px;
}

.user-chat-info {
  position: relative;
  padding: 10px;
  width: 100%;
}

.user-chat-info h4 {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 500;
}

.list-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.unread {
  margin-left: 10px;
  background: var(--timeStamp);
  color: white;
  padding: 2px 4px;
  border-radius: 10px;
}

.truncate {
  font-size: 0.6rem;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SETTINGS */

.settings-layout {
  height: 100vh;
}

/* USER AVAILABILITY COMPONENT */

.availability-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PROFILE */

.profile-container {
  display: flex;
  flex-direction: column;
  /* padding: 0.75rem; */
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header h1 {
  margin: 0;
}

.profile-info {
  background: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info input {
  width: 80%;
}

.profile-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-img-container img {
  border-radius: 50%;
  width: calc(100% / 3);
  border: 5px solid var(--secondary);
  transition: 0.5s ease-in-out all;
}

.profile-img-container:hover img {
  opacity: 0.4;
}

.profile-img-container:hover .overlay {
  opacity: 1;
}

.overlay {
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay input {
  display: none;
}

.upload-avatar {
  cursor: pointer;
}
.delete-avatar {
  cursor: pointer;
  color: #f24957;
}

.profile-text-container {
  text-align: center;
}

.profile-btn {
  cursor: pointer;
  width: 80%;
  text-transform: uppercase;
}

h1 {
  font-size: 24px;
  line-height: 1.1;
  color: var(--msgText);
}

.error-page {
  color: #f24957;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* HOME COMPONENT */

.users-container {
  margin-top: 10px;
  overflow-y: auto;
}

/* REGISTERED USERS COMPONENT */

.registered-container {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-detail {
  display: flex;
  align-items: center;
}

.user-detail h4 {
  margin-left: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--secondary);
}

.user-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  background: #34eb52;
}

.offline {
  background: #f24957;
}

/* LOADING COMPONENT */

.loader {
  margin-top: 4rem;
  text-align: center;
}

.loader__ball {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: var(--primaryColor);
  margin-inline: 5px;
  border-radius: 50%;
  animation: bounce 187.5ms alternate infinite;
}

.loader__ball:nth-child(2) {
  animation-delay: 62.5ms;
}
.loader__ball:nth-child(3) {
  animation-delay: 125ms;
}

@keyframes bounce {
  from {
    transform: scaleX(1.25);
  }
  to {
    transform: translateY(-50px) scale(1);
  }
}

@media screen and (max-width: 850px) {
  .message-wrapper {
    padding: 0 5px;
  }
  .convo {
    max-width: 85%;
  }
}

@media screen and (max-width: 730px) {
  .chat {
    /* overflow: hidden; */
  }

  .menu-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .nav-container {
    flex-direction: row;
  }

  .navLink-container {
    flex-direction: row;
  }
}
